*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}


/* header */

.header{
    width: 100%;
    height: 600px;
    background: #FF0099;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(323, 19%, 24%, 0.671), hsla(324, 100%, 50%, 0.226)), url(../img/spa.jpeg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, hsla(323, 19%, 24%, 0.671), hsla(324, 100%, 50%, 0.671)), url(../img/spa.jpeg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}
.inicio{
    display:flexbox;
    justify-content:right;
    top: -20%;
    margin-top:v 100%;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: #ffff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.textos-header h1{
    font-size: 50px;
    color: #ffff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #ffff;
}

.header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}



/* header fondo ilustrado */
.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  /* ABOUT US */
main .sobre-nosotros{
padding: 30px 0 60 px 0;
}

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}  

.imagen-about-us img{
   width: 48%; 
   margin-right: 50%;
}

.sobre-nosotros .contenido-textos{
  width: 48%;
}

.contenido-textos h3 span{
    background: #4d0686;
    color: #ffff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}
.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;


}
.logo {
    display: flex;
    justify-content: center;
    margin-top: -10px;
    margin-right: -30px;
    width: 70px;
    height: 70px;
  }



.video{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-right: 500px;
    margin-left: 500px;
    width: 500px;
    height: 500px;;

}
.uno{   
   left: 5%;
   top: 120%;
   margin-top: -100%;
}
/* GALERIA */

.portafolio{
    background: #ffff;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* footer */

footer{
    background: #414141;
    padding: 60px 0px 30px 0px;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
    
}
.content-foo{
    text-align: center;
}
.content-foo h4{
    text-align: center;
    color: #ffff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.content-foo p{
  color: #ccc;
}
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #e9797e;
}

.imagen-port{
    align-content: center;
    width: 40%;
    height: 50%;
    margin:auto;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    margin-left: 30%;
    
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }
    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sobre-nosotros .contenido-textos{
        width: 90%;
    }
    .video{
        width: 90%;
        justify-content: center;
        flex-direction: column;
        align-items: center ;
        width: 100%;
    }
}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }
    .textos-header h1{
        font-size: 30px;
    }

    .textos-header h2{
        font-size: 20px;
    }
    /* ABOUT US */
    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }
    .sobre-nosotros .contenido-textos{
        width: 95%;
    }
    .imagen-port{
        width: 95%;
        align-content: center;
    }
    .video{
        
    }

    /* footer */
    .contenedor-footer{
        flex-direction: column;
        border: none;
    }
    .contenedor-foo{
        margin-bottom: 20px;
        text-align: center;
    }
    .content-foo h4{
        border: none;
    }
    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;

    }
    .titulo-final{
        font-size: 20px;
    }

}

@media (max-width: 500px) {
    .video {
        padding-bottom: 75%; 
        margin-bottom: 75%;
        margin: auto;
        width: 100%;
    }

    
    
    
}

.card{background-color: #414141;}